<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="pathForClients"
         value ="C:\Users\user\source\repos\OOP Term Paper\OOP Term Paper\bin\Debug\clients.dat"/>
  <add key ="pathForRealty"
         value ="C:\Users\user\source\repos\OOP Term Paper\OOP Term Paper\bin\Debug\realties.dat"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>